  <!-- navbar -->
  <div class="navbar is-light is-spaced has-shadow">
    <!-- LOGO -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="../assets/images/KickBack Gaming-logos.jpeg" width="150" height="500" alt="Bulma">
      </a>
</div>

    <!-- navbar link layout-->
  <div class="navbar-menu, tabs is-toggle ">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="home">HOME</a>
      <a class="navbar-item" routerLink="sign-up">SIGN-UP</a>
      <a class="navbar-item" routerLink="login">LOGIN</a>
      <a class="navbar-item" routerLink="cart">CART</a>
      <a class="navbar-item" routerLink="games">GAMES</a>
    </div>
  </div>
  </div>
