.button{
  height: 50px;
  width: 65px;
}
.navbar {
  background-image: url('/assets/images/Pngtree.jpg') !important;
  background-size: cover;
  background-position: center center;
}
.navbar-item {
    background-size: cover;
    width: 110px;
    height: 50px;
    position: absolute
  }

.navbar-brand {
    background-size: cover;
    width: 175px;
    height: 10px
}
.control{ 
  background-size: cover;
  width: 500;
  height: 40px;
}
header{
   padding: 10px 32px;
}

.cart_icon{
  position: relative;
}

.cart_icon i{
    font-size: 24px;
    color: #fff;
}

.cart_value{
  position: absolute;
  top: -16px;
  right: -32px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 4px 10px;
  font-weight: 800;
  font-style: 16px;
}

