<!-- navbar -->
<nav class="navbar is-light is-spaced has-shadow">
  <!-- Logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../assets/images/King.png" alt="site logo" style="max-height: 100px" class="py-2 px-2">
    </a>
  </div>
  <!-- navbar link layout-->
  <div class="navbar-menu, tabs is-toggle ">
    <div class="navbar-end">
      <a class="navbar-item" style="color: grey;" routerLink="home">HOME</a>
      <a class="navbar-item" style="color: grey;" routerLink="sign-up">SIGN-UP</a>
      <a class="navbar-item" style="color: grey;" routerLink="login">LOGIN</a>
      <a class="navbar-item" style="color: grey;" routerLink="cart">CART</a>
      <a class="navbar-item" style="color: grey;" routerLink="games">PC GAMES</a>
      <p class="control"> </p>
        <button style="color: grey;" routerLink="/login" class="button is-success is-danger">LOGOUT</button>
    
<header>
      <div class="container">
        <div class="col-md-12 text-right">
        <div class="cart_icon" style="color: grey;" routerLink="/cart">
          <i class="fa fa-shopping-cart"></i>
          <div class="cart_value">
            2
          </div>
        </div>
      </div>
    </div>
  </header>
  </div>
</div>
</nav>