<div class="card">
  <div class="card-content">
    <p class="title">
      <p style="color: whitesmoke;">Bulma CSS website made by Chris from Indianapolis</p>
    <p class="subtitle">
      <p style="color: white;">Chris Christmon</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span style="color: whitesmoke">
        Meet the developer <a href="https://www.linkedin.com/in/christopher-christmon-b51ab768/">Linkedin </a> <i class="fa-brands fa-linkedin"></i>
      </span>
    </p>
    <p class="card-footer-item">
      <span style="color: whitesmoke">
        Reach out to the team <a href="https://github.com/ChrisMatic008">GitHub </a> <i class="fa-brands fa-github"></i>
      </span>
    </p>
  </footer>
</div>
    
