<div class="card">
  <div class="card-content">
    <p class="title">
      Bulma Made by Chris from Indianapolis
    </p>
    <p class="subtitle">
      Chris Christmon
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Meet the developer <a href="https://www.linkedin.com/in/christopher-christmon-b51ab768/">Linkedin </a> <i class="fa-brands fa-linkedin"></i>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Reach out to the team <a href="https://github.com/ChrisMatic008">GitHub </a> <i class="fa-brands fa-github"></i>
      </span>
    </p>
  </footer>
</div>
    
