.container{
    height: 100px;
    width: 65;
    align-items: flex-end;
}

.hero {
    background-image: url('/assets/images/Pngtree.jpg') !important;
    background-size: cover;
    background-position: center center;
}
