<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> User CRUD <i class="fa-solid fa-user-pen"></i> </h1>
      <button class="button is-primary">Add User</button>
    </div>
  </div>

</section>
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <div class="d-flex">
    </div>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
           <th scope="col">User ID</th>
           <th scope="col">FullName</th>
           <th scope="col">Email Address</th>
           <th scope="col">Mobile Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Chris Christmon</td>
      <td>christmon@Gmail.com</td>
      <td>999-999-9999</td>
      <td>
        <button>Edit</button>
        <button>Delete</button>
      </td>
    </tr>
  </tbody>
</table>