<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> User CRUD <i class="fa-solid fa-user-pen"></i><button type="button" class="button is-success mt-5" id="open" aria-label="close">Add User</button></h1>
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <!-- Any other Bulma elements you want -->
        </div>
      </div>
    </div>
  </div>

</section>
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <div class="d-flex">
    </div>
  </div>
</nav>

<table class="table mt-1">
  <thead>
    <tr>
           <th scope="col">User ID</th>
           <th scope="col">FullName</th>
           <th scope="col">Email Address</th>
           <th scope="col">Mobile Number</th>
           <th scope="col" justify="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John Doe</td>
      <td>JDoe@Gmail.com</td>
      <td>123-456-7890</td>
      <td>
        <button class="button is-info">Edit</button>
        <button class="button is-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

