<section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> User CRUD <i class="fa-solid fa-user-pen"></i> </h1>  
      </div>
    </div>
    
  </section>
<nav class="navbar navbar-light bg-primary">
 <div class="container-fluid">
    <h1 style="color:rgb(0, 0, 0);">User CRUD</h1>
    <div class="d-flex">
        <button type="button" class="btn btn-success">Add User</button>
    </div>
 </div>   
</nav>

<table>
    <thead>
        <tr>
            <h2>User Profile</h2>
            <div class="container">
                    <div class="cardComp item" *ngFor="let user of users">
                            <p > User Number {{user.id}} : {{user.fullname}} : {{user.phoneNumber}} </p>
                </div>
            </div>
        </tr>
    </thead>
</table>