.container {
    display: flex;
    flex-wrap: wrap;

  }
  
  .item {
    flex: 30%;
  }
  /* . {
    background-image: url('/assets/images/Pngtree.jpg') !important;
    background-size: cover;
    background-position: center center;
  } */