<section class="hero is-link is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">

            </p>
            <p class="subtitle">

            </p>
            <!-- Displaying images of the code -->
            <h2>
                Games:
            </h2>
                <div class="container">
                        <div class="cardComp item" *ngFor="let game of games">
                                <p >{{game.gameID + 1}}. {{game.title}}: Price ${{game.normalPrice}}</p>
                                <img [src]='game.thumb' />
                    </div>
                </div>
            </div>
        </div>
</section>