<div class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="containerLogo">
        <h1 class="title">Cart</h1> 
      </div>
    </div>
</div>

<section class="hero is-link is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">

            </p>
            <p class="subtitle">

            </p>
            <!-- Displaying images of the code -->
            <h1>Game List</h1>
                <div class="container">
                        <div class="cardComp item" *ngFor="let game of games">
                            <img [src]='game.thumb'/>
                                <p>{{game.title}}</p>
                                <p>Price: ${{game.normalPrice}}</p>    
                    </div>
                </div>
            </div>
        </div>
</section>
