<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Sign-Up</h1>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">

    <!-- sign-up form -->
    <form>
      <!-- name -->
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Alex Smith">
        </div>
      </div>

      <!-- email-->
      <div class="field">
        <label class="label">Email Address</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>

      <!-- password -->
      <div class="field">
        <label class="label">Create Password</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g 123 Hills Rd">
        </div>
      </div>

      <!-- phone # -->
      <div class="field">
        <label class="label">Phone Number</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. 123-456-4789">
        </div>
      </div>

      <!-- submit button -->
      <div class="control">
        <button class="button is-success">Sign Up</button>
      </div>
    </form>
    <a routerLink="/login">Already registered? Click here to login</a>

  </div>

</section>